html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 200vh;
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 800px;
    padding: 5px 20px;
    margin: 5px;
}

h1, ul {
    margin: 0;
}

h1 {
    font-size: 24px;
}

ul {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style-type: none;
}

a {
    display: block;
    color: #404040;
    text-decoration: none;
    font-weight: bold;
}

h1, ul, li, li a {
    padding: 5px;
}

nav, h1, ul, li, li a {
    border: 1px solid #404040;
}