body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 4px orangered;
    width: 200px;
    height: 75px;
}

@media screen and (max-width: 800px) {
    main {
        flex-direction: column;
    }
}