:root {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    --bg: #080808;
    --main: #40ffa0;
    --main50: #40ffa080;
    --main25: #40ffa040;
    --main12: #40ffa020;
}

*::selection {
    background-color: var(--main25);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    max-width: 50rem;
    min-height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
    margin: 0 auto;
    color: var(--main);
}

header, section, footer {
    border: 1px solid var(--main);
    padding: 1rem;
    background-color: var(--bg);
    box-shadow: 0.5rem 0.5rem var(--main12);
}


main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

header h1, footer {
    text-align: center;
    margin: 0;
}

h2 {
    margin: 0;
}

a {
    color: var(--main);
}

ul, ol {
    margin: 0.5rem 0;
}

li {
    margin-bottom: 0.5rem;
}

p {
    margin: 0.5rem 0 0 0;
}

@media screen and (max-width: 50rem) {
    main {
        grid-template-columns: 1fr;
    }
}