html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* create additional rules below:  */

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section:nth-child(1) {background-color: hsl(80,  100%, 75%);}
section:nth-child(2) {background-color: hsl(160, 100%, 75%);}
section:nth-child(3) {background-color: hsl(240, 100%, 75%);}
section:nth-child(4) {background-color: hsl(320, 100%, 75%);}