body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: pink;
}

.grid-container {
    height: 100vh;
    /* you will add addition rules for the container here  */
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
}

/* create your child rules here:  */
div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border: 4px solid #000000;
}

div:nth-child(odd) {
    grid-column: 1 / 4;
}

div:nth-child(even) {
    grid-column: 3 / 6;
}